
header{
    text-align: center;
    padding: 1rem;
    background-color: aliceblue;
}
section{
    background-color: rgb(244, 244, 252);
    padding: 20px;

}
h3{
    margin: 1rem;
}

.resultado{
    width: 60vw;
    margin: 1rem;
}

.tarjetas{

    padding: 1rem;
    background-color: rgb(231, 240, 249);
    display: flex;
    flex-flow: column wrap;
    height: 70vh;
    justify-content: center;
}
.area{
    width: 50rem;
    min-height: 15rem;
    max-height: 15rem;
}
.nombre{
    width: 50rem;
    margin-bottom: 15px;
}
.tarjetas>button{
    width: 20rem;
    margin: 15px;
}
.cartas{
    background-color: rgb(224, 237, 249);

    margin: 10px;
    border-radius: 10px;
    padding: 1rem;
    flex-flow: row wrap;
    display: flex;
    gap: 2rem;
    min-height: 20rem;

}
.cards{
    width: 15rem;
    max-height: 15rem;

}

.buscar{
    width: 20rem;
    margin: 1rem;
}
.realizada{
    margin: 1rem;
}